//
// LAYOUTS
// Place all of your custom styles in here. This stylesheet is loaded last,
// and takes precedence over all others.
//
// --------------------------------------------------

body {
  opacity: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: $dark;
  -moz-osx-font-smoothing: grayscale; // enable font-smoothing for browsers that support it
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -webkit-transition: opacity 250ms ease-out;
  -moz-transition: opacity 250ms ease-out;
  -ms-transition: opacity 250ms ease-out;
  -o-transition: opacity 250ms ease-out;
  transition: opacity 250ms ease-out;
}

body.fade-in {
  opacity: 1;
}

img {
  max-width: 100%;
  height: auto;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Courier Prime', monospace;
}
p + h1 {

  margin-top: 5em;
}
p + h2 {
  margin-top: 4em;
}
p + h3 {
  margin-top: 3em;
}
p + h4 {
  margin-top: 2em;
}
h1 {
  margin-bottom: 12px;
}
h2 {
  margin-bottom: 9px;
}
h3 {
  margin-bottom: 6px;
}
h4 {
  margin-bottom: 3px;
}
h5 {
  margin-bottom: 0px;
}
hr {
  width: 100%;
}
a {
  color: $secondary;
  &:hover {
    color: darken($secondary, 40%);
    text-decoration: none;
  }
}

//Navigation Styles
header.top-header {
  position: sticky;
  background: #fff;
  top: 0;
  opacity: 1;
  left: 0;
  right: 0;
  z-index: 9999;
  opacity: 1;
  -webkit-box-shadow: 0 1px 5px 0 rgba(1,1,1,.2);
  box-shadow: 0 1px 5px 0 rgba(1,1,1,.2);
  @include transition(500ms);
  nav.header-menu {
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 100%;
      list-style: none;
      line-height: 1em;
      font-size: .9em;
      white-space: nowrap;
      li {
        margin: 0;
        padding: 0;
        position: relative;
        a {
          padding: 5px 10px;
          display: block;
        }
        &:first-child {
          a {
            padding-right: 0;
          }
        }
        &.current_page_item {
          a {
            color: darken($secondary, 40%);
          }
        }
        &.menu-item-has-children {
          a {
            padding-right: 25px;
          }
          ul.children,ul.sub-menu {
            height: 0;
            overflow: hidden;
            position: absolute;
            display: flex;
            flex-direction: column;
            width: auto;
            text-align: left;
            background: #fff;
            -webkit-box-shadow: 0px 5px 3px 0 rgba(1,1,1,.2);
            box-shadow: 0px 5px 3px 0 rgba(1,1,1,.2);
          }
          &:hover {
            ul.children, ul.sub-menu {
              height: auto;
              li {
                a {
                  padding: 10px 8px;
                  display: flex;
                  &:hover {
                    background-color: $primary;
                    color: #fff;
                  }
                }

              }
            }
          }
          &:after {
            font-family: "Font Awesome 5 Pro";
            font-size: .75em;
            content: '\f078';
            position: absolute;
            top: 5px;
            right:4px;
          }
        }
      }

    }
  }
}
header.blog-header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: luminosity;
}
// Footer
footer.footer {
  background: $dark;
  color: #fff;

  padding-top: 40px;
  a {
    color: $light;
  }
}

footer.bottom-footer {
}

.bypostauthor > article .fn:before {
  content: "\f408";
  margin: 0 2px 0 -2px;
  position: relative;
  top: -1px;
}

/* single post */

.alignleft, img.alignleft {
  float: left;
  padding-right: 10px;
  padding-bottom: 10px;
}

.alignright, img.alignright {
  float: right;
  padding-left: 10px;
  padding-bottom: 10px;

}

.aligncenter, img.aligncenter {
  float: none;

}

.alignnone, img.alignnone {
  float: none;

}
p.wp-caption-text {
  text-align: center;
  font-size: .9em;
  margin: 0 0 15px 0;
}


section.blog, section.post {
  article {
    span.posted-date {
      font-size: .8em;
      margin: 4px 0;
    }
    span.author-name {
      font-size: .8em;
      margin: 4px 0;
      display: block;
    }
    &.sticky {
      .card-body {
        border-top: 8px solid $secondary;
      }

    }
    .categories {
      line-height: 1.1em;
    }
  }
  a.view-article {
    display: none;
  }
}

/* sidebars and asides */
aside.sidebar {

}

blockquote {
  margin-left: 20px;
  padding-left: 15px;
  border-left: 3px solid $primary;
  font-style: italic;
  cite {
    display: block;
    font-weight: bold;
    text-align: right;
    font-size: .9em;
    font-style: normal;
    margin-top: 10px;
  }
}
address {
  margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
    background: #F8F8F8;
    padding: 15px;
    line-height: 1.1em;
    text-transform: uppercase;
    font-family: monospace;
}
code {
  color: $gray-800;
}
//Responcive Embeds
.embed-container {
		position: relative;
		padding-bottom: 56.25%;
		overflow: hidden;
		max-width: 100%;
		height: auto;
    iframe, object, embed, video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
	}

// Pagination
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  .page-numbers {
    background: $primary;
    padding: 5px 10px;
    margin: 0 2px;
    color: #fff;
    text-align: center;
    flex: 1;
    font-size: 1.4em;
    font-weight: 500;
    min-width: 30px;
    white-space: nowrap;
  }
  .page-numbers.current {
    background: $light;
    color: $dark;
  }
  .page-numbers:first-child {
    margin-left: 0;
  }
  .page-numbers:last-child {
    margin-right: 0;
  }
}

// Footer Styles
.mindshare-credit {
  span.crafted {
    font-size: 11px;
    color: #fff;
    display: block;
    margin-bottom: -5px;
  }
}


.video-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; }
.video-container iframe, .video-container object, .video-container embed, .video-container video { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
