//
// LAYOUTS
// Place all of your custom styles in here. This stylesheet is loaded last,
// and takes precedence over all others.
//
// --------------------------------------------------

body {
  opacity: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: $dark;
  -moz-osx-font-smoothing: grayscale; // enable font-smoothing for browsers that support it
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -webkit-transition: opacity 250ms ease-out;
  -moz-transition: opacity 250ms ease-out;
  -ms-transition: opacity 250ms ease-out;
  -o-transition: opacity 250ms ease-out;
  transition: opacity 250ms ease-out;
}

body.fade-in {
  opacity: 1;
}

img {
  max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Courier Prime', monospace;
}
p + h1 {

  margin-top: 5em;
}
p + h2 {
  margin-top: 4em;
}
p + h3 {
  margin-top: 3em;
}
p + h4 {
  margin-top: 2em;
}
h1 {
  margin-bottom: 12px;
}
h2 {
  margin-bottom: 9px;
}
h3 {
  margin-bottom: 6px;
}
h4 {
  margin-bottom: 3px;
}
h5 {
  margin-bottom: 0px;
}
hr {
  width: 100%;
}
a {
  color: $secondary;
  &:hover {
    color: darken($secondary, 40%);
    text-decoration: none;
  }
}
//Navigation Styles
header.top-header {
  nav.header-menu {
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 100%;
      list-style: none;
      li {
        margin: 0;
        padding: 0;
        a {
          padding: 5px 10px;
        }
        &:first-child {
          a {
            padding-right: 0;
          }
        }
        &.current_page_item {
          a {
            color: darken($secondary, 40%);
          }
        }
      }
    }
  }
}

// Footer
footer.footer {
  background: $dark;
  color: #fff;

  padding-top: 40px;
  a {
    color: $light;
  }
}

footer.bottom-footer {
}

.bypostauthor > article .fn:before {
  content: "\f408";
  margin: 0 2px 0 -2px;
  position: relative;
  top: -1px;
}

/* single post */

.alignleft, img.alignleft {
  float: left;

}

.alignright, img.alignright {
  float: right;

}

.aligncenter, img.aligncenter {
  float: none;

}

.alignnone, img.alignnone {
  float: none;

}

/* sidebars and asides */
aside.sidebar {

}
//Responcive Embeds
.embed-container {
		position: relative;
		padding-bottom: 56.25%;
		overflow: hidden;
		max-width: 100%;
		height: auto;
    iframe, object, embed, video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
	}

// Pagination
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  .page-numbers {
    background: $primary;
    padding: 5px 10px;
    margin: 0 2px;
    color: #fff;
    text-align: center;
    flex: 1;
    font-size: 1.4em;
    font-weight: 500;
    min-width: 30px;
    white-space: nowrap;
  }
  .page-numbers.current {
    background: $light;
    color: $dark;
  }
  .page-numbers:first-child {
    margin-left: 0;
  }
  .page-numbers:last-child {
    margin-right: 0;
  }
}

// Footer Styles
.mindshare-credit {
  span.crafted {
    font-size: 11px;
    color: #fff;
    display: block;
    margin-bottom: -5px;
  }
}
